@model Droplet.Models.ViewModels.DonationCreateViewModel


<h2>Create Donation</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="DonorId" class="control-label">Select Donor</label>
        <select asp-for="DonorId" class="form-control" asp-items="@ViewBag.Donors">
            <option value="">-- Select Donor --</option>
        </select>
        <span asp-validation-for="DonorId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
